#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
}

.landing-bg {
  /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/7f/Rotating_earth_animated_transparent.gif"); */
  background-image: url("./assets/earth.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.join-bg {
  background-image: url("./assets/joinc.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
